In [17]:
import pandas as pd

def clean_data(df):
    # # Rinominare la colonna 'Title' in 'Titolo Film'
    # df = df.rename(columns={'Title': 'Titolo Film'})
    # # Rinominare la colonna 'Genres' in 'Genere film'
    # df = df.rename(columns={'Genres': 'Genere film'})
    # Rimuovere righe duplicate nella colonna: 'Titolo Film'
    df = df.drop_duplicates(subset=['Titolo Film'])
    # Cambiare il tipo di colonna in object per la colonna: 'Titolo Film'
    df = df.astype({'Titolo Film': 'object'})
    return df

# Caricata la variabile “df” dall'URI: c:\Users\karyl\Desktop\SAC-Project\Elenco Movies definitivo.csv
df = pd.read_csv(r'c:\Users\karyl\Desktop\SAC-Project\file_dataset\Elenco Movies definitivo.csv')
# Pulita la variabile “df” con la funzione clean_data
df = clean_data(df)
# # Salvata la variabile “df” in un file CSV: c:\Users\karyl\Desktop\SAC-Project\file_dataset\Elenco Movies definitivo.csv
# df.to_csv(r'c:\Users\karyl\Desktop\SAC-Project\file_dataset\Elenco Movies definitivo.csv', index=False)

In [18]:
"""
Cella generata da Data Wrangler.
"""
def clean_data(df):
    # Python code to recalibrate MovieID and create AnnoFilm table
    # Step 1: Recalibrate MovieID to be in ascending order
    df['MovieID'] = range(1, len(df) + 1)
    # Step 2: Extract year from Titolo Film and create AnnoFilm table
    df['AnnoFilm'] = df['Titolo Film'].str.extract(r'\((\d{4})\)', expand=False)
    # Step 3: Create a new DataFrame with film titles and years
    AnnoFilm = pd.DataFrame({
        'Film': df['Titolo Film'],
        'Anno': df['AnnoFilm']
    })
    # Remove years from movie titles
    df['Titolo Film'] = df['Titolo Film'].str.replace(r'\s*\(\d{4}\)$', '', regex=True)
    return df

df_clean = clean_data(df.copy())
df_clean

,MovieID,Titolo Film,Genere film,AnnoFilm
0,1,Toy Story,Animation|Children's|Comedy,1995
1,2,Jumanji,Adventure|Children's|Fantasy,1995
2,3,Grumpier Old Men,Comedy|Romance,1995
3,4,Waiting to Exhale,Comedy|Drama,1995
4,5,Father of the Bride Part II,Comedy,1995
...,...,...,...,...
3878,3879,Meet the Parents,Comedy,2000
3879,3880,Requiem for a Dream,Drama,2000
3880,3881,Tigerland,Drama,2000
3881,3882,Two Family House,Drama,2000
3882,3883,"Contender, The",Drama|Thriller,2000

In [19]:
df_clean.head()

   MovieID                  Titolo Film                   Genere film AnnoFilm
0        1                    Toy Story   Animation|Children's|Comedy     1995
1        2                      Jumanji  Adventure|Children's|Fantasy     1995
2        3             Grumpier Old Men                Comedy|Romance     1995
3        4            Waiting to Exhale                  Comedy|Drama     1995
4        5  Father of the Bride Part II                        Comedy     1995

In [20]:
df_clean.to_csv(r'c:\Users\karyl\Desktop\SAC-Project\file_dataset\Elenco_Movies_pulito.csv', index=False)