In [1]:
import pandas as pd

def clean_data(df):
    df['Timestamp'] = pd.to_datetime(df['Timestamp'], unit='s')
    return df

# Caricata la variabile “df” dall'URI: c:\Users\karyl\Desktop\SAC-Project\rating.csv
df = pd.read_csv(r'c:\Users\karyl\Desktop\SAC-Project\rating.csv')

df_clean = clean_data(df.copy())
df_clean.head()

   UserID  MovieID  Rating           Timestamp
0       1     1193       5 2000-12-31 22:12:40
1       1      661       3 2000-12-31 22:35:09
2       1      914       3 2000-12-31 22:32:48
3       1     3408       4 2000-12-31 22:04:35
4       1     2355       5 2001-01-06 23:38:11